@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.form-horizontal{
    input{
        color:#022255 !important;
    }
    input[type=email]:focus,
    input[type=password]:focus,
    input[type=text]:focus{
        box-shadow: 0 0 5px rgba(var(--accent-rgb),0.8);
        border: 1px solid rgba(var(--accent-rgb),0.8);
    }
    .progress {
        height: 5px !important;
    }
    .form-group {
        margin-bottom: 10px;
    }
    .show-pass{
        position: absolute;
        top:5%;
        right: 8%;
    }
    .progress-bar-danger {
        background-color: var(--primary-color);
    }
    .progress-bar-warning{
        background-color: #ffad00;
    }
    .progress-bar-success{
        background-color: #02b502;
    }
 
    .ex-account p a{
        color: #f6086e;
        text-decoration: underline;
    }
    .fa-circle{
        font-size: 6px;  
    }
    .fa-check{
        color: #02b502;
    }
}




